[Unit]
Description=Demo service
After=syslog.target network.target

[Service]

User=demo
Group=demo
ExecStart=/usr/local/bin/demo
SuccessExitStatus=143


[Install]
WantedBy=multi-user.target
